Repository netanelburkis/todo_list-cd: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy to staging, Deploy to production

Deploy to staging:
              steps {
                  script {
                      env.ENVIRONMENT = 'staging'
                      env.VERSION = readFile('stage_version.txt').trim()
                      echo "üì¶ Extracted version from file: ${env.VERSION}"
  ...

Deploy to production:
              steps {
                  script {
                      env.ENVIRONMENT = 'production'
                      env.VERSION = readFile('production_version.txt').trim()
                      echo "üì¶ Extracted version from file: ${env.VERSION}"
  ...

update junknsfile for versions filesfix2
  Jenkinsfile
Due: none

Update stage version to 49
  stage_version.txt
Due: Deploy to staging

Update production version to 49
  production_version.txt
Due: Deploy to production

Update stage version to 50
  stage_version.txt
Due: Deploy to staging

Update production version to 50
  production_version.txt
Due: Deploy to production

Update stage version to 51
  stage_version.txt
Due: Deploy to staging

Update stage version to 52
  stage_version.txt
Due: Deploy to staging

Update production version to 52
  production_version.txt
Due: Deploy to production

update junknsfile for versions filesfix3
  Jenkinsfile
Due: none

Update stage version to 53
  stage_version.txt
Due: Deploy to staging

Update production version to 53
  production_version.txt
Due: Deploy to production

update junknsfile for versions filesfix4
  Jenkinsfile
Due: none

update junknsfile for versions filesfix5
  Jenkinsfile
Due: none

Update stage version to 54
  stage_version.txt
Due: Deploy to staging

Update production version to 54
  production_version.txt
Due: Deploy to production

Update stage version to 55
  stage_version.txt
Due: Deploy to staging

update junknsfile for versions filesfix6
  Jenkinsfile
Due: none

Update stage version to 56
  stage_version.txt
Due: Deploy to staging

Update production version to 56
  production_version.txt
Due: Deploy to production

update junknsfile for versions filesfix7
  Jenkinsfile
Due: none

Update stage version to 57
  stage_version.txt
Due: Deploy to staging

Update production version to 57
  production_version.txt
Due: Deploy to production

update junknsfile for versions filesfix8
  Jenkinsfile
Due: none

Update stage version to 58
  stage_version.txt
Due: Deploy to staging

Update production version to 58
  production_version.txt
Due: Deploy to production

Update stage version to 59
  stage_version.txt
Due: Deploy to staging

Update README.md
  README.md
Due: none

add ansible folder
  ansible/files/default.conf
  ansible/group_vars/all.yml
  ansible/inventory.ini
  ansible/playbook.yaml
  ansible/roles/app/tasks/main.yml
  ansible/roles/db/tasks/main.yml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/nginx/tasks/main.yml
Due: none

Update inventory.ini
  ansible/inventory.ini
Due: none

Update main.yml
  ansible/roles/nginx/tasks/main.yml
Due: none

Update all.yml
  ansible/group_vars/all.yml
Due: none

Path conditions:
  Deploy to staging: any of: stage_version.txt
  Deploy to production: any of: production_version.txt
